<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMpService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53435/MpService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMpService" contract="ServiceReference1.IMpService"
                name="BasicHttpBinding_IMpService" />
        </client>
    </system.serviceModel>
</configuration>